@page
@using TestTask.Models
@using TestTask.Services
@model TestTask.Pages.Divisions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Детали подразделения</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.Name)
        </dd>
        <dt class="col-sm-2">
            Дата формирования
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.FormationDate)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.Description)
        </dd>
        <dt class="col-sm-2">
            Родительское подразделение
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.Parent.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Divisions/Edit" asp-route-id="@Model.Division.Id">Редактировать</a> |
    <a asp-route-id="@PageHelper.SelectedDivisionIdOnFilter" asp-page-handler="Filter" asp-page="../Index/">Назад</a>
</div>
