@page
@model TestTask.Pages.Workers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Работника</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Surname)
        </dd>
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Name)
        </dd>
        <dt class="col-sm-2">
            Отчество
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.MiddleName)
        </dd>
        <dt class="col-sm-2">
            Дата рождения
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.BirthDate)
        </dd>
        <dt class="col-sm-2">
            Пол
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Gender)
        </dd>
        <dt class="col-sm-2">
            Должность
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Post)
        </dd>
        <dt class="col-sm-2">
            Водительские права
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.IsHasDriveLicense)
        </dd>
        <dt class="col-sm-2">
            Подразделение
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Division.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Worker.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="../Index">Назад</a>
    </form>
</div>
