@page
@model TestTask.Pages.Workers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Post)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Post)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.DrivingLicense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.DrivingLicense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Division)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Division.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Worker.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="../Index">Back to List</a>
    </form>
</div>
