@page
@using TestTask.Common
@using TestTask.Services
@model TestTask.Pages.Workers.DeleteModel
@inject IPageHelper pageHelper;
@{
    ViewData["Title"] = "Delete";
}

<h3>Вы уверены, что хотите удалить работника?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Surname)
        </dd>
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Name)
        </dd>
        <dt class="col-sm-2">
            Отчество
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.MiddleName)
        </dd>
        <dt class="col-sm-2">
            Дата рождения
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.BirthDate)
        </dd>
        <dt class="col-sm-2">
            Пол
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Gender)
        </dd>
        <dt class="col-sm-2">
            Должность
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Post)
        </dd>
        <dt class="col-sm-2">
            Водительские права
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.IsHasDriveLicenseBool)
        </dd>
        <dt class="col-sm-2">
            Подразделение
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Division.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Worker.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-route-id=@pageHelper.GetFilterIdOnSession(HttpContext) asp-page-handler="Filter" asp-page="../Index/">Назад</a>
    </form>
</div>
