@page
@model TestTask.Pages.Workers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Детали работника</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Surname)
        </dd>
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Name)
        </dd>
        <dt class="col-sm-2">
            Отчетсво
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.MiddleName)
        </dd>
        <dt class="col-sm-2">
            Дата рождения
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.BirthDate)
        </dd>
        <dt class="col-sm-2">
            Пол
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Gender)
        </dd>
        <dt class="col-sm-2">
            Должность
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Post)
        </dd>
        <dt class="col-sm-2">
            Водительские права
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.IsHasDriveLicenseBool)
        </dd>
        <dt class="col-sm-2">
            Подразделение
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Division.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Workers/Edit" asp-route-id="@Model.Worker.Id">Редактировать</a> |
    <a asp-route-id="@PageHelper.SelectedDivisionIdOnFilter" asp-page-handler="Filter" asp-page="../Index/">Назад</a>
</div>
